@using CinemaApp.Web.ViewModels.Movie
@model MovieDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-8">
            <h4>@Model.Title</h4>
            <p><strong>Genre:</strong> @Model.Genre</p>
            <p><strong>Director:</strong> @Model.Director</p>
            <p><strong>Duration:</strong> @Model.Duration min</p>
            <p><strong>Release Date:</strong> @Model.ReleaseDate</p>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
